<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="com.qiuye.calendarkotlin.CalendarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_calendar"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_calendar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalendarKotlin">
        <activity
            android:name="com.qiuye.calendarkotlin.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CalendarKotlin"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.qiuye.calendarkotlin.tasks.receiver.ReminderAlertReceiver"
            android:exported="false" />
        <receiver
            android:name="com.qiuye.calendarkotlin.tasks.receiver.ReminderBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
